# Node
node_modules/
dist/
.npm/

# Vite
.vite/
*.log

# Python
__pycache__/
*.pyc
.env
venv/
env/

# Editor/OS
.vscode/
.idea/
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
 Pembroke
